body {
    text-align: center;
    }
    
    header {
      background-color: black;
      color: white;
      padding: 20px 35px;
      background-position: 80%;
      background-attachment:fixed;
      background-size: cover;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position:relative;
      position: -webkit-sticky;
      top: 0;
      z-index: 9999;
    }

    header a {
      text-decoration: none;
      color: white;
    }
    
    header nav {
      float: right;
      margin: 7px 0;
      
    }
    
    header nav ul li {
      display: inline;
    }
    
    header nav ul li a {
      margin: 0 30px;
      font-weight: lighter;
      font-size: 22px;
    }
    
    #StartWriting {
      display:flex;
      width: 800px;
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 35px 35px;
      justify-content: center;
      flex-direction: column;
      border: 1px solid black;
      background-color: #cb7119;
      color: black
      align-content: space-around;
        
    }
      .hero-form {
        display: flex;
        align-self: center;
        margin-bottom: 25px
        padding: 20px;
        border: 1px solid black;
        flex-direction: column;
        justify-content: center;
        background-color: #f2a337;
        color: black
        align-content: space-around;
      }

      textarea {
        background-color: #f5f5f5;
        width: 700px;
        height: 275px;
      }

    #inspSect {
      border: solid black 1px;
      padding: 50px 0px;
      margin-bottom: 100px;
    }
    
    #inspTitle {
      padding-bottom: 45px;
    }
    
    #inspBtn {
      margin: 45px 0px;
    }
    
    #inspImgs {
      flex-wrap: wrap;
      display: flex;
      align-content: space-around;
    }
    
    #saved-stories {
      margin-top: 25px;
      flex-wrap: wrap;
      flex: 1 0 80%;
    }
    #inspImgEl {
      flex: 1 0 20%;
    }
    
    .left {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    #contact-us {
      display: flex;
      align-self: center;
      justify-content: center;
      background-color: #cb7119;
      width: 300px;
      padding: 25px;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-bottom: 20px;
      flex-direction: row;
      border: 2px solid black;
      color: black
      align-content: space-around;
    }
header {
    background-color: #a9421d ;
    color: white;
    padding: 20px 35px;
    background-position: 80%;
  background-attachment:fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position:sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}




#inspSect {
  border: solid black 1px;
  padding: 50px 0px;
  margin-bottom: 100px;
}

#inspTitle {
  padding-bottom: 45px;
}

#inspBtn {
  margin: 45px 0px;
}

#inspImgs {
  flex-wrap: wrap;
  display: flex;
  align-content: space-around;
}


#saved-stories {
  margin-top: 25px;
  flex-wrap: wrap;
  flex: 1 0 80%;
}
#inspImgEl {
  flex: 1 0 20%;
}

.left {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
